{% extends "../base.html" %}
{% block title %}波波图像识别{%end%}
{% block body_header%}
    <div id="body_header" style="position: relative; top: 0;"></div>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script>
        document.getElementById("body_header").innerHTML = "欢迎您：来自" + returnCitySN['cname'] + "的朋友<br>您的IP是：" + returnCitySN['cip'] ;
    </script>
{% end %}
{% block body%}
    <h1>波波图像识别</h1>
    <form method="post" enctype="multipart/form-data"  onsubmit="return push_img(this);">
        请选择您要选择的识别类型：
        <select id="ocr_type" name="ocr_type" oninput="set_sub_type(this, this.form.ocr_sub_type);" title="识别类型">
            <option value="0" selected>请选择识别的类型</option>
            <option value="character">文字识别</option>
            <option value="image">图像识别</option>
        </select>
        <br />
        请选择您要识别的选项：
        <select id="ocr_sub_type" name="ocr_sub_type"  title="识别选项">
            <option value="0">请选择识别的选项</option>
        </select>
        <br>
        请上传图片：<input name="image" type="file"><br>
        <input type="submit" value="提交">
    </form>
    <script>
        OCR_SUB_TYPE = {};
        OCR_SUB_TYPE['character'] = [['basic_accurate', '通用文字识别'], ['idcard', '身份证识别']];
        OCR_SUB_TYPE['image'] = [['general_image', '通用图像识别'], ['dish_detect', '菜品识别']];

        ACTION_URL = "{{ root_url }}";

        function set_sub_type(ocr_type, ocr_sub_type) {
            let sub_index;

            const type_value = ocr_type.value;

            if (type_value === '0') return;
            if (typeof(OCR_SUB_TYPE[type_value]) === 'undefined') return;
            for (i = 0; i < OCR_SUB_TYPE[type_value].length; i++) {
                sub_index = i + 1;
                new_option = new Option();
                new_option.value = OCR_SUB_TYPE[type_value][i][0];
                new_option.text = OCR_SUB_TYPE[type_value][i][1];
                ocr_sub_type.append(new_option)
            }
        }
        set_sub_type(document.getElementById("ocr_type"), document.getElementById("ocr_sub_type"));
        function push_img(e) {
            if (e.ocr_type.value === '0') {
                alert('请选择识别的类型');
            }else if(e.ocr_sub_type.value === '0'){
                alert('请选择识别的选项');
            }else{
                e.setAttribute("action", ACTION_URL + e.ocr_type.value + "/" + e.ocr_sub_type.value)
            }
        }
    </script>
{% end %}
